{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
                <form action="login" method="POST"  >
                    <h3>Login</h3>
                    {% csrf_token %}
                    {{ form.as_p}}

                    <div ><input   class="registerbtn" type="submit" value="Login"></div> 

                    
                    <label >If you're not registrated, Please registrater:</label>
                    <div class="social">
 
                        <div class="go"><a href="{% url 'sign:reg' %}"> Registrater </a>
                        </div>

                
                

    

    </form>
</div>  
{% endblock %}
